<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

<context:component-scan base-package="com.z"/>
	<context:property-placeholder location="classpath:db.properties" />
	
	<!-- 配置数据源 c3p0-->
    <!--
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="driverClass" value="${jdbc.driverClass}"/>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
		<property name="initialPoolSize" value="${jdbc.initPoolSize}"/>
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}"/>
	</bean>
	-->
    <!-- 配置数据源 druid-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${jdbc.jdbcUrl}"/>
        <property name="driverClassName" value="${jdbc.driverClass}"/>
        <property name="password" value="${jdbc.password}"/>
		<property name="username" value="${jdbc.user}"/>

		<property name="initialSize" value="5"/>
		<property name="minIdle" value="5"/>
		<property name="maxActive" value="10"/>
    </bean>


	<!-- 配置Hibernate的SessionFactory实例 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
		<property name="mappingLocations" value="classpath:com/z/model/*.hbm.xml"/>
	</bean>
	
	
	<!-- 声明式事务 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="txPointcut" expression="execution(* com.z.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut" />
	</aop:config>
	
	<!-- 业务bean -->
	<bean class="com.z.action.UserAction" id="userAction">
		<property name="userService" ref="userService"/>
</bean>

	<bean class="com.z.action.ArticleAction" id="articleAction">
		<property name="articleService" ref="articleService"/>
		<property name="ctrsService" ref="ctrsService"/>
		<property name="commentsService" ref="commentsService"/>
		<property name="userService" ref="userService"/>
	</bean>
	<bean class="com.z.action.ArticleActionUser" id="articleActionUser">
		<property name="articleService" ref="articleService"/>
	</bean>
	<bean class="com.z.action.ArticleActionSave" id="saveArticle">
		<property name="articleService" ref="articleService"/>
		<property name="userService" ref="userService"/>
	</bean>



</beans>
